.Rproj.user
.Rhistory
processed-data/**/*.Rdata
processed-data/**/*.rda
processed-data/**/*.rds
code/**/*.rda

.Ruserdata

**/logs/
**/nonHDF5_logs/
**/multi-file_logs/
**/array_logs/

**/archive/

.ipynb_checkpoints/
_jhpce_org/

plots/spaceranger_segment/
processed-data/spaceranger_segment/*

**/conservative_low-UMI-filt/
