.Rproj.user
.Rhistory
processed-data/**/*.Rdata
processed-data/**/*.rda
processed-data/**/*.rds
processed-data/**/*.dat
code/**/*.rda

.Ruserdata

**/logs/
**/nonHDF5_logs/
**/multi-file_logs/
**/array_logs/
**/archive/
**/__pycache__/
**/notebooks/

.ipynb_checkpoints/
_jhpce_org/

plots/spaceranger_segment/
processed-data/spaceranger_segment/*

**/conservative_low-UMI-filt/

raw-data/SCENIC_aux/
pySCENIC/
!pySCENIC/src/pyscenic/cli/pyscenic.py
arboreto/
conda_exports/
